@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  padding: 0;
  margin: 0;
}

#toast-container > div {
  opacity:1;
}
